
html{

  background: url("../imgs/bridge_center.jpg") no-repeat center fixed;
  background-size: cover;


}
div.work-contact{
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
section {

     align-items: center;
     border-radius: 15px;
     display: flex;
     height: 50%;
     justify-content: space-around;
     width: 95%;
     border: 1px solid black;
     padding: 35px;
     margin: 35px;

}
section.myWork {

}
section.myContact{

}
p {
  font-size: 18px;
  text-decoration: underline;
}
h1{
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
h2{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
nav{
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  padding-top: 5px;
  font-size: 10;
}
a{
  padding: 5px;
}
.heroImg {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  width: 100%;
}
