/* custom styles */
img.bg {
  /* Set rules to fill background */
  min-height: 75%;
  min-width: 1024;

  /* Set up proportionate scaling */
  width: 75%;
  height: auto;

  /* Set up positioning */
  position: center;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

h3 {
  text-decoration: underline;
}
